In [ ]:
#Step 0: Import libraries & load dataset
import pandas as pd

df = pd.read_excel("Dataset .xlsx")

In [ ]:
#Step 1: Handle missing cuisine values
df['Cuisines'] = df['Cuisines'].fillna('Unknown')

In [ ]:
#Step 2: Split multiple cuisines into separate rows
df_cuisine = df.copy()
df_cuisine['Cuisines'] = df_cuisine['Cuisines'].str.split(', ')
df_cuisine = df_cuisine.explode('Cuisines')

In [ ]:
#Step 3: Most popular cuisines (based on votes)
popular_cuisines = (
    df_cuisine.groupby('Cuisines')['Votes']
    .sum()
    .sort_values(ascending=False)
    .head(10)
)

popular_cuisines

Cuisines
North Indian    595981
Chinese         364351
Italian         329265
Continental     288255
Fast Food       184058
American        183117
Cafe            177568
Mughlai         151946
Desserts        105889
Asian           104303
Name: Votes, dtype: int64

In [ ]:
#Step 4: Average rating for each cuisine
avg_rating_by_cuisine = (
    df_cuisine.groupby('Cuisines')['Aggregate rating']
    .mean()
    .sort_values(ascending=False)
)

avg_rating_by_cuisine.head(10)

Cuisines
Sunda         4.900000
Bï¿½_rek      4.700000
Taiwanese     4.650000
Ramen         4.500000
Dim Sum       4.466667
Hawaiian      4.412500
Dï¿½_ner      4.400000
Bubble Tea    4.400000
Curry         4.400000
Kebab         4.380000
Name: Aggregate rating, dtype: float64

In [ ]:
#Step 5: Cuisines with high ratings & sufficient votes
cuisine_analysis = (
    df_cuisine.groupby('Cuisines')
    .agg(
        Avg_Rating=('Aggregate rating', 'mean'),
        Total_Votes=('Votes', 'sum')
    )
)

# Filter cuisines with reasonable popularity
top_rated_cuisines = cuisine_analysis[
    cuisine_analysis['Total_Votes'] > 1000
].sort_values('Avg_Rating', ascending=False)

top_rated_cuisines.head(10)

               Avg_Rating  Total_Votes
Cuisines
Sunda            4.900000         5514
Bï¿½_rek         4.700000         1305
Ramen            4.500000         1259
Dim Sum          4.466667         1755
Hawaiian         4.412500         8012
Curry            4.400000         2059
Kebab            4.380000         1536
Izgara           4.350000         1166
Filipino         4.340000         3789
South African    4.333333         1806